<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Car demo</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="theme-color" content="#000000" />
    <link rel="stylesheet" href="/css/car_demo.css" />
    <script th:inline="javascript">
            window.CAR_DEMO_CONFIG = {
                media_service_config: [[${media_service_config}]],
                vehicle_service: [[${vehicle_service_url}]],
                vehicle_ws: [[${vehicle_ws_url}]]
            };
    </script>
</head>
<body>
    <div id="vehicle_container"></div>
    <div id="media_container"></div>
    <script src="/js/car_demo.js"></script>
</body>
</html>