.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.App-List-Item {
  padding: 0.5rem;
  margin: 0.5rem 0;
  border: 1px solid #ccc;
  border-radius: 5px;
  cursor: pointer;
}

.scrollable-list {
  list-style: none;
  margin: 0;
  padding: 0;

  /* Size control */
  max-height: calc(5 * 2.5em); /* 5 items at 2.5em each */
  overflow-y: auto;

  /* Optional visual styling */
  border: 1px solid #ccc;
  border-radius: 6px;
}

.scrollable-list li {
  padding: 0.5em 1em;
  height: 2.5em;
  line-height: 2.5em;
  border-bottom: 1px solid #eee;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
